html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  background-color: #00b894;
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  background-color: #e84393;
  border-bottom: 5px solid whitesmoke;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-family: fantasy;
  font-style: oblique;
  text-align: center;
}

header ul {
  display: none;
}

.aside-one {
  border-bottom: solid 5px whitesmoke;
  background-color: #fd79a8;
  text-align: justify;
}

.aside-one h2 {
  text-align: center;
}

.aside-one li {
  font-size: 1.2rem;
}

aside ul {
  list-style: none;
  padding: 0;
}

.aside-two {
  order: 1;
}
