* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

header {
  align-items: center;
  background-color: blueviolet;
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
}

.paragraf {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.img-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 20px;
  width: 520px;
}

.img {
  background-color: rgb(232, 236, 243);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-left: 10px;
  padding: 5px;
}

.img h4 {
  color: rgba(204, 2, 255, 0.452);
}

hr {
  border: solid 1px rgb(232, 236, 243);
  margin: auto;
  width: 8%;
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}
