<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gato Criado</title>
</head>
<body>
  Gato de ID <%= catId %> creado com sucesso! <br>
    <a href="/">Voltar para a home</a>
</body>
</html>
