h1 {
  color: orange;
  font-size: 65px;
  font-family: sans-serif;
}
#list{
  background-color: blue;
  color: white;
  text-align: center;
  font-family: cursive, 'Courier New', Courier, monospace;
}
.ask{
  background-color: tomato;
  font-weight: 600;
  font-size: 3em;
}
body{
  font-size: 16px;
  line-height: normal;
}
.cor{
  background-color: tomato;
}